table{
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}
th{
    background-color: rgb(15, 98, 115);
    color: white;
    padding: 10px;
    text-align: center;
}
td {
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(200, 220, 225);
}
tbody tr:nth-child(odd) {
    background-color: rgb(225, 242, 245);
}